.container {

    border: 1px solid #ccc;
    padding: 16px;
    background-color:teal;
    
  }
.inner_container {
    display:flex;
    flex-direction:row;
    justify-content: center;
    display:flex;
    gap:2rem;
    flex-wrap:wrap;


  }
  .each_day_container{
    display:flex;
    flex-direction:column;
    gap:1rem;
    border: 1px solid #ccc;
    padding: 16px;
    width:12rem;
    background-color:grey;
  }
  .each_day_container_weekend{
    display:flex;
    flex-direction:column;
    gap:1rem;
    border: 1px solid #ccc;
    padding: 16px;
    width:12rem;
    background-color:blueviolet;
  }
  .each_worker_container{
    border: 1px solid green;
    padding: 16px;
    background-color:black;
  }
  .span{
    color:yellow;
  }